/**********************************************************************************************

	Title: CSS for green-in-life
	Author: Elmo Wu (by xuedesign studio)
	Date: 2013 / 11   

***********************************************************************************************
		1 通用
		2.版型
		  2.1 網站主選單
		  2.2 完美底部佈局
		  2.3 內文區塊
		  2.4 版權列		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#565555}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 版型  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
h1, h2{ display:none}
header{
	display:block;
	position:fixed;
	width:100%;
	height:179px;
	background:url(../images/bg_content.png) repeat-x}	
	
/*2.1 網站主選單---------------------------*/	
nav{ display:block; width:850px; margin:0 auto}
a.btn_home{
	display:block;
	float:left;
	width:26px;
	height:150px;
	background:url(../images/btn_home.png) no-repeat;
	text-indent:-9999px}
a.btn_home:hover{ background:url(../images/btn_home.png) -26px 0 no-repeat}
nav ul{ display:block; padding-top:63px}		
nav li a{
	display:block;
	float:left;
    width:82px;
	height:87px;
	margin-left:34px;
	overflow:hidden;
	text-indent:-9999px}
.navlist_01{ background:url(../images/nav_content.png) no-repeat}
.navlist_01:hover, .navlist_01.navin{ background:url(../images/nav_content.png) -82px 0 no-repeat}
.navlist_02{ background:url(../images/nav_content.png) 0 -87px no-repeat}
.navlist_02:hover, .navlist_02.navin{ background:url(../images/nav_content.png) -82px -87px no-repeat}	
.navlist_03{ background:url(../images/nav_content.png) 0 -174px no-repeat}
.navlist_03:hover, .navlist_032.navin{ background:url(../images/nav_content.png) -82px -174px no-repeat}	
.navlist_04{ background:url(../images/nav_content.png) 0 -261px no-repeat}
.navlist_04:hover, .navlist_04.navin{ background:url(../images/nav_content.png) -82px -261px no-repeat}	
.navlist_05{ background:url(../images/nav_content.png) 0 -348px no-repeat}
.navlist_05:hover, .navlist_05.navin{ background:url(../images/nav_content.png) -82px -348px no-repeat}	
.navlist_06{ background:url(../images/nav_content.png) 0 -435px no-repeat}
.navlist_06:hover, .navlist_06.navin{ background:url(../images/nav_content.png) -82px -435px no-repeat}	
.navlist_07{ background:url(../images/nav_content.png) 0 -522px no-repeat}
.navlist_07:hover, .navlist_07.navin{ background:url(../images/nav_content.png) -82px -522px no-repeat}							
	
/*2.2 完美底部佈局---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:56px}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block} /* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;} /* End hide from IE-mac */

/*2.3 內文區塊---------------------------*/	
#contenter{
	display:block; 
	width:954px;
	/*min-height:485px;*/ 
	margin:0 auto 20px auto;  
	padding-top:179px;
	font-size:0.813em;
	line-height:22px}				
	
/*2.4 版權列---------------------------*/	
footer{ 
    display:block;
    position: relative;
    width:100%;
	height:56px;
    background: url(../images/bg_cfooter.png) repeat-x;
    margin-top: -56px}		
.copyright{
	padding-top:5px;
	font-size:0.813em;
	line-height:22px;
	color:#585757;
	text-align:center;
	-webkit-text-size-adjust:none;}			